/* Exercise 4 */

/* PART III: */

/* Create a new css file named Exercise4.css and import it in your Exercise4 component. */
/* Add the following CSS properties to the CSS file, and apply them to the paragraph tag: */

.para {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }